@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #E6E6FA;
     
   }


.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 35px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 4%;
  width: 450px;
  height: 500px;
}

#logo{
    background-image: linear-gradient(to right, #9226EB, #FF6C14);    width: 100vw;
    height: 30px;
    margin-top: -27px;
    width: 100%;
    min-height: 50px;
    background-image: linear-gradient(to right, hsl(276, 100%, 35%), rgb(245, 48, 245), orange);
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
  text-align: center;
  margin-bottom: 22px;
  color: black;
}

.insertCad input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border-radius: 15px;
    border-bottom: 2px solid;
    background-color: transparent;
    outline: none;
    min-width: 160px;
    max-width: 1200px ;
    font-size: 14px;
    height: 40px;
   
}

.insertCad{
  position: relative;
  padding-top: 12px;
  margin-top: 5%;
  margin-bottom: 5%;
}


.insertCad label{
  color: blue;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -4px;
}

.insertCad input:focus + label,
.insertCad input:valid + label{
  font-size: 13px;
  margin-top: -4px;
  color: #4038a0;
}

button{
  background-color: blue;
  border-color: transparent;
  color: white;
  padding: 7px;
  font-weight: bold;
  font-size: 13pt;
  margin-top: 23px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover{
  background-color: #0d009c;
  color: #fff;
}

.cadbtn{
  display: flex;
  justify-content: center;
}



#msgError{
  text-align: center;
  color: red;
  background-color: salmon;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  display: none;
  background-color: #bbffbe;
  padding: 12px;
  border-radius: 3px;
  
}
